{% extends 'template.html' %}
{% block content %}
    <div>
        <img src="/site/static/background.png" style="width: 100%">

        <div class="background-text">
            <h1>The future</h1>
            <h2>Robotics</h2>
        </div>
    </div>

    <div class="content">
        <div>
            <h3>Будущее здесь</h3>
            <p>
                Погрузитесь в будущее, используя новейшие сервисы РЖД. Мы предлагаем вам максимально удобное и
                комфортное использование сервиса
            </p>
        </div>
        <div>
            <h3>Наша миссия</h3>
            <p>
                Наша миссия - создать удобное и комфортное использование сервиса
            </p>
        </div>
        <div>
            <h3>Авторизуйтесь прямо сейчас!</h3>
            <p>
                Получите полный доступ ко всем функциям сервиса
            </p>
            <div class="container-center">
                <button onclick="window.location.href='/login'">
                    Войти
                </button>
            </div>
        </div>
    </div>
{% endblock %}
