<!DOCTYPE html>
<html lang="RU_ru">
<head>
    <title></title>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.svg">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
    <div class="icon">
        <img src="/static/favicon.svg">
    </div>
    <div>
        <button>
            <svg width="24px" height="16px" class="j-menu-open">
                <use xlink:href="/static/adaptive_sprite.svg#login"></use>
            </svg>
        </button>
        <button>
            <svg width="24px" height="16px" class="j-menu-open">
                <use xlink:href="/static/adaptive_sprite.svg#burgerMenu"></use>
            </svg>
        </button>
    </div>
</header>

<main>
    <div>
        <img src="/static/background.png" style="width: 100%">

        <div class="background-text">
            <h1>The future</h1>
            <h2>Robotics</h2>
        </div>
    </div>

    <div class="content">
        <div>
            <h3>Будущее здесь</h3>
            <p>
                Погрузитесь в будущее, используя новейшие сервисы РЖД. Мы предлагаем вам максимально удобное и
                комфортное использование сервиса
            </p>
        </div>
        <div>
            <h3>Our mission</h3>
            <p>
                We are a team of scientists who are working on the development of a new generation of robots that will
                revolutionize the way we work and live.
            </p>
        </div>
        <div>
            <h3>Авторизуйтесь прямо сейчас!</h3>
            <p>
                Получите полный доступ ко всем функциям сервиса
            </p>
            <div class="container-center">
                <button>
                    Войти
                </button>
            </div>
        </div>
    </div>
</main>

<footer>
    <p>The great name, 2024</p>
    <p>Разработано командой инженеры транспорта</p>
</footer>
</body>
</html>