{% extends 'template.html' %}
{% block content %}
    <div class="content">
        <div>
            <h2>Здравствуйте, Никита!</h2>
        </div>

        <div>
            <p>Ваш вагон: <b>13</b></p>
            <p>Ваше место: <b>13</b></p>
        </div>

        <div>
            <h3>Магазин</h3>
            <p>Воспользуйтесь нашим магазином с доставкой до вашего места</p>
            <div class="container-center">
                <button class="small-button">Магазин</button>
            </div>
        </div>

        <div>
            <h3>Информация</h3>
            <p>Запланируй свое путешествие или узнай о новых достопримечательностях</p>
            <div class="container-center">
                <button class="small-button">Информация</button>
            </div>
        </div>
    </div>
{% endblock %}