{% extends 'template.html' %}

{% block head %}

<script src="/site/static/auth.js"></script>

{% endblock %}

{% block content %}

<style>
    .buttons {
        display: flex;
        flex-direction: row;
        gap: 48px
    }

    .buttons button {
        padding: 8px 16px 8px 16px;
        font-size: 16px;
    }

    .ticket {
        display: none;
    }
</style>

<div class="content">
    <div class="authorized">
        <h2 id="name">Здравствуйте, !</h2>
    </div>

    <div class="authorized buttons">
        <button onclick="window.location.href='/ticket'">Купить билет</button>
        <button onclick="window.location.href='/bio'">Загрузить биометрию</button>
    </div>

    <div class="authorized ticket" id="ticket">
        <h2>Ваш билет:</h2>
        <h3></h3>

        <p>Номер поезда: <span id="train_number"></span></p>
        <p>Вагон: <span id="wagon_number"></span></p>
        <p>Место: <span id="seat_number"></span></p>
        <p>Время отправления: <span id="departure_time"></span></p>
    </div>
</div>

<script src="/site/static/profile.js"></script>
{% endblock %}