{% extends 'template.html' %}

{% block head %}

<script src="/site/static/auth.js"></script>

{% endblock %}

{% block content %}

<style>
    .buttons {
        display: flex;
        flex-direction: row;
        gap: 48px
    }

    .buttons button {
        padding: 8px 16px 8px 16px;
        font-size: 16px;
    }
</style>

<div class="content">
    <div class="authorized">
        <h2 id="name">Здравствуйте, !</h2>
    </div>

    <div class="authorized buttons">
        <button onclick="window.location.href='/ticket'">Купить билет</button>
        <button onclick="window.location.href='/bio'">Загрузить биометрию</button>
    </div>
</div>

<script src="/site/static/profile.js"></script>
{% endblock %}