{% extends 'template.html' %}
{% block content %}
<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100vh;
    }

    .container > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 24px
    }
</style>
<div class="container">
    <div>
        <h1>Ваш билет успешно оформлен</h1>
        <h2>Спасибо, что выбрали РЖД</h2>
        <button onclick="window.location.href='/profile'">
            Вернутся в профиль
        </button>
    </div>
</div>
{% endblock %}