<!DOCTYPE html>
<html lang="RU_ru">
<head>
    <title></title>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="/site/static/style.css">
    <link rel="icon" type="image/x-icon" href="/site/static/favicon.svg">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>
        // window.ROBOT_API = "{{  ROBOT_API_URI  }}";
        window.ROBOT_API = "http://localhost/base_api/v1";
    </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    {% block head %}{% endblock %}
</head>
<body>
<header>
    <div class="icon">
        <a href="/">
            <img src="/site/static/favicon.svg">
        </a>
    </div>
    <div>
        <button onclick="location.href='/login'">
            {% if authed %}
            <span class="material-icons">
                    person
                </span>
            {% else %}
            <span class="material-icons">
                    login
                </span>
            {% endif %}
        </button>
        <button>
            <span class="material-icons">
                menu
            </span>
        </button>
    </div>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>The great name, 2024</p>
    <p>Разработано командой инженеры транспорта</p>
</footer>
</body>
</html>